:root {
    --bs-link-color: #198754;
    --bs-link-hover-color: #146c43;
}

.btn {
    --bs-btn-bg: #198754;
    --bs-btn-border-color: #146c43;
    --bs-btn-hover-bg: #146c43;
    --bs-btn-hover-border-color: #146c43;
    --bs-btn-active-bg: #0c5734;
}

.navbar-brand img {
    width: 50px;
}

main {
    margin-top: 5rem;
}

section {
    scroll-margin-top: 6rem;
}

.carousel-item {
    height: 500px;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel-item::before {
    content: '';
    height: 100%;
    width: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.767));
    position: absolute;
}

.card img {
    height: 300px;
    object-fit: cover;
}